<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="">
                <img src="images/Logo/PastoriekeKort.png" class="d-inline-block align-top" width="100%">
            </a>
        <div id="mySidenav" class="sidenav">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">   
            </a>
            <ul class="navbar-nav">
            {% assign navigation_pages = site.pages %}
            {% for p in navigation_pages %}
            {% if p.title and p.visibility != 'hidden' %}
                <li class="nav-item">
                    <a href="{{ p.url | relative_url }}" class="nav-item nav-link{% if p.url == page.url %} active{% endif %} m-l-2">
                    {{ p.title }}
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>