// default-styling

.inhoud {
    margin-top: 0% !important;
}

.child {
    border-radius: 25px;
    padding-bottom: 1%;
}
.childFoto {
    border-radius: 25px;
    padding-right: 1%;
}

body {
    font-family: 'Avenir';
    font-size: 12pt;
    color: #7c7c89;
    margin-top: 0% !important;
    background-color: #fdfcfc;
}

h1, h4, h5, {
    font-family: 'Capriola';
}

h2, h3 { 
    font-family: 'Trebuchet MS';
}

.trebuchet {
    font-family: 'Trebuchet MS';
}

h1 {
    font-weight: $font-weight-light;
    font-size: 3.3rem;
    color:#f59c0f;
}
h2 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 2rem 0 1rem;
    color:#f9b34f;
}

h3 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 2rem 0 1rem;
    color:#80539b;
}

h4 {
    font-weight: $font-weight-light;
    font-size: 1rem;
    margin: 2rem 0 0;
    color: #f9b34f;
}

h5 {
    font-weight: $font-weight-light;
    font-size: 1rem;
    margin: 2rem 0 0;
    color: #80539b;

}

h6 {
    font-weight: $font-weight-light;
    font-size: 1rem;
    margin: 2rem 0 0;
    color: #f9b34f ;

}

table {
    margin-top: 2%;
    font-family: arial, sans-serif;
    border-radius: 10px;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

a {
    text-decoration: none;
    color: $body-link;
    &:hover{
        color: $body-link;
        text-decoration: none;
        border-bottom: solid 1px $body-link;
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid  #80539b;
}

iframe {
    width: 100%;
    height: 455px;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: #80539b;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color:#582b81;
        color: #fdfcfc;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//tables

th {
    color: #80539b;
}

//forms 
.btn1 , a.btn {
    margin: 0,5%;
    margin-bottom: 1%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners */
    background-color: #ff9e18;
    color: #fdfcfc;
    font-family: 'Capriola';

    &:hover{ 
        background-color: #f9b34f;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:active{ 
        background-color: #f59c0f;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:focus{}
}
input[type=text], textarea {

}

.btn2 {
    margin: 0,5%;
    margin-bottom: 1%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners */
    background-color:  #59358b;
    color: #fdfcfc;
    font-family: 'Capriola';

    &:hover{ 
        background-color: #997db3;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:active{ 
        background-color: #59358b;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:focus{}
}

.btn3 {
    margin: 0,5%;
    margin-bottom: 1%;
    padding: 1%;
    border: none;
    border-radius: 10px; /* Rounded corners */
    background-color:  #ec694a;
    color: #fdfcfc;
    font-family: 'Capriola';

    &:hover{ 
        background-color: #f18d76 ;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:active{ 
        background-color: #ec694a;
        border: none;
        border-radius: 10px; /* Rounded corners */
    }
    &:focus{}
}
